{       
    "extends": "airbnb-base",
    "parserOptions": { "ecmaVersion": 6 },
    "env": { "es6": true },
    "overrides": [
      {
        "files": ["./src/*.js"],
        "rules": {
    
        }
      }
    ]
      
  }